# build output
dist/
.output/

# generated types
.astro/

# dependencies
node_modules/

# logs
pnpm-debug.log*

# environment variables
.env
.env.production
.env*.local

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Editor-specific files (Penting jika Anda/rekan lain pakai VS Code)
.vscode/

# Build tools & cache (Tambahan agar tidak berat saat push)
dist/
.cache/
.temp/

# File sisa jika Anda pernah mencoba menjalankan tes
coverage/